[build]
builder = "dockerfile"
dockerfilePath = "apps/frontend/Dockerfile"

[deploy]
startCommand = "bun run apps/frontend/build"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
