@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource-variable/inter';
@import 'tailwindcss';

@theme {
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Inter Variable', 'Inter', sans-serif;
}
